@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="container d-flex flex-column justify-content-center align-items-center w-100 h-100">
    <p class="uno">
        1. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>
    <p class="dos">
        2. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>
    <p class="tres">
        3. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>
    <p class="cuatro">
        4. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>
    <p class="">
        5. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>
    <p class="">
        6. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>
    <p class="">
        7. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>
    <p class="">
        8. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>

</div>