body[b-8orbrjh0ac] {
}

section[b-8orbrjh0ac] {
	width: 100%;
	height: 100%;
	background-color: #faf7f7;
	/*padding-top:20px;
	padding-bottom:20px;*/
}

#cuentas__title[b-8orbrjh0ac] {
	font-family: "SuisseIntl-Thin_0", sans-serif; 
	
	font-size: 1.6rem;
	/*font-weight: 100;*/
}
.cuentas__container[b-8orbrjh0ac] {
	display: flex;
	flex-direction: column;
	height: fit-content;
	align-items: center;
	height: fit-content;
	padding: 2rem 1rem;
	background-color: #fdfcfd77;
	/*	border: 3px solid var(--yinsa-dark);*/
	border-radius: 10px;
	box-shadow: 1px 1px 6px 0px rgba(173,163,163,0.54);
	-webkit-box-shadow: 1px 1px 6px 0px rgba(173,163,163,0.54);
	-moz-box-shadow: 1px 1px 6px 0px rgba(173,163,163,0.54);
}

.cuentas__container-type[b-8orbrjh0ac] {
	padding: 1rem 0.5rem;
	width: 100%
}

.cuentas__card[b-8orbrjh0ac]{
	padding:1rem 0.5rem;
/*	border:0.5px solid black;*/
}
	.cuentas__card:hover[b-8orbrjh0ac] {
		border-radius:10px;
		box-shadow: 1px 1px 6px 0px rgba(173,163,163,0.54);
		-webkit-box-shadow: 1px 1px 6px 0px rgba(173,163,163,0.54);
		-moz-box-shadow: 1px 1px 6px 0px rgba(173,163,163,0.54);
	}
#cuentas-link.btn-default[b-8orbrjh0ac] {
	width: 100%;
	background: #2D2926;
	color: #fff;
	border-radius: 0;
	border: transparent;
	font-family: "Suisse Intl Medium", sans-serif;
}
	.btn-default:hover[b-8orbrjh0ac]{
		color:var(--yinsa-primary);
	}
	/* Ocultar los radio buttons originales */
	input[type="radio"][b-8orbrjh0ac] {
		display: none;
	}

/* Estilizar el contenedor */
.radio-container[b-8orbrjh0ac] {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 10px;
	cursor: pointer;
}

/* Estilizar el checkmark */
.checkmark[b-8orbrjh0ac] {
	position: absolute;
	top: 2px;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: transparent;
	border: 2px solid var(--yinsa-primary);
	border-radius: 50%;
}

/* Estilizar el checkmark cuando está seleccionado */
.radio-container input:checked ~ .checkmark[b-8orbrjh0ac] {
	background-color:transparent;
}

/* Estilizar el punto central del checkmark */
.checkmark[b-8orbrjh0ac]:after {
	content: "";
	position: absolute;
	display: none;

}

/* Mostrar el punto central del checkmark cuando está seleccionado */
.radio-container input:checked ~ .checkmark[b-8orbrjh0ac]:after {
	display: block;
}

/* Estilizar el punto central del checkmark */
.radio-container .checkmark[b-8orbrjh0ac]:after {
	top: 2px;
	left: 2px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: var(--yinsa-primary);
}
