.ocultar {
	display: none !important;
}

/*.btn-default {
	width: 100%;
	border: 1px solid;
	border-radius: 0;
	font-family: "Suisse Intl Medium", sans-serif;
}*/

/* ============== FILTROS ============== */
.input-group-text{
	font-size:1.5rem;
}

.background-g {
	background: #efefef;
}

.btn-y {
	background: #FFC72C;
	color: #2D2926;
}

	.btn-y:hover {
		background: #2D2926;
		color: #FFC72C;
	}
/*=====================TABLA==================*/
.table-title {
	background: #FFC72C;
	color: #2D2926;
}

#tabla {
	font-family: "Suisse Intl Medium", sans-serif;
}

tbody tr:hover {
	background-color: #ffe34974;
}

tfoot {
	border-bottom: 1px solid #c6c6c6;
}

.table-responsive {
	display: table;
}

#resumen p {
	font-family: "Suisse Intl Bold", sans-serif;
}

@media (max-width: 768px) {
	.table-responsive {
		display: block;
	}
}


.fecha-vencimiento{ font-weight:600;}

td.red {
	border-bottom: 4px solid #ee000f;
	color: #ee000f;
}

td.yellow {
	color: var(--yinsa-primary);
	border: 4px solid var(--yinsa-primary);
}


.aprobado {
	/*background-color: #15d000;*/
	border: 2px solid #15d000;
	color: #15d000;
}

.rechazado {
	border: 2px solid #ee000f;
	color: #ee000f;
}

.pendiente {
	color: var(--yinsa-primary);
	border: 2px solid var(--yinsa-primary);
}

a.files img {
	height: 40px;
}