<!DOCTYPE html>
<html lang="es-mx" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YINSA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/YINSA_INTRANET.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fuentes.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/icofont/icofont.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="icon" href="~/img/YINSA_Buho.ico">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>

        <main role="main" >
            @RenderBody()
        </main>
       @* <partial name="_Footer" />*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   @* <script src="~/js/menu.js" asp-append-version="true"></script>
    <script type="module" src="~/js/menu-options.js"></script>*@
  
 
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
