
@{
}
<nav class="nav-redes">
	<ul>
		<li><a href=""><i class="icofont-facebook"></i> <span>Facebook</span></a></li>
		<li><a href=""><i class="icofont-instagram"></i> <span>Instagram</span></a></li>
		<li><a href=""><i class="icofont-linkedin"></i> <span>Linkedin</span></a></li>
		<li><a href=""><i class="icofont-spotify"></i> <span>Spotify</span></a></li>
		<li><a href=""><i class="icofont-youtube-play"></i> <span>YouTube</span></a></li>
		<li class="whatsapp"><a href=""><i class="icofont-whatsapp"></i> <span>Whatsapp</span></a></li>
	</ul>
</nav>