body[b-irx83ifq8n] {
	height:100%;
	width:100%;
}
.disable[b-irx83ifq8n] {
	display: none !important;
}
.subirArchivo__layout[b-irx83ifq8n] {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/*position: absolute;*/
	position:fixed;
	z-index: 9000;
	background-color: #d4d1d185;
	top: 0;
	left: 0;
	/*padding-top:100px;*/
}

	.subirArchivo__layout.disable[b-irx83ifq8n] {
		display: none !important;
	}
/*.subirArchivo__layout {
	height: inherit;
	width: inherit;
	display:flex;
	align-items:center;
	justify-content:center;
	position: relative;
	z-index:9000;

	background-color:#d4d1d185;
}*/

.subirArchivo__container[b-irx83ifq8n] {
	height: fit-content;
	width: 500px;
	display: flex;
	flex-direction:column;
	/*justify-content: center;
	align-items: center;*/
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 1px 1px 6px 0px rgba(173,163,163,0.54);
	-webkit-box-shadow: 1px 1px 6px 0px rgba(173,163,163,0.54);
	-moz-box-shadow: 1px 1px 6px 0px rgba(173,163,163,0.54);
}
#close-subir[b-irx83ifq8n]{
	position:absolute;
	top:15px;
	right:20px;
	cursor:pointer;
}
.subirArchivo__header[b-irx83ifq8n] {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--yinsa-dark);
	padding: 1em 0;
	position:relative;
}
	.subirArchivo__header h5[b-irx83ifq8n] {
		margin:0;
	}
.subirArchivo__body[b-irx83ifq8n] {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.2rem;
}

.subirArchivo__form[b-irx83ifq8n] {
	height: inherit;
	width: inherit;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	/*background-color: cornflowerblue;*/
	/*padding: 1rem 0;*/
}
.subirArchivo__info[b-irx83ifq8n]{
	width:fit-content;
}
.subirArchivo__container-input[b-irx83ifq8n] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}
	.subirArchivo__container-input label[b-irx83ifq8n] {
		font-family: "SuisseIntl-Thin_0", sans-serif;
		font-size: 1.1rem;
		margin-bottom:8px;
	}
	.subirArchivo__container-input input[b-irx83ifq8n], .subirArchivo__container-input textarea[b-irx83ifq8n] {
		width: 100%;
		border: 1px solid var(--yinsa-dark);
	}


.drag-area[b-irx83ifq8n] {
	height: auto;
	/*width: 400px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem 2rem;
	border: 3px dashed var(--yinsa-primary);
}
.drag-area button[b-irx83ifq8n] {
	border: none;
	background-color: var(--yinsa-dark);
	color: white;
	padding: 10px;
}
	.drag-area p[b-irx83ifq8n] {
		font-family: "Suisse Intl Bold", sans-serif;
		font-size: 1.1rem;
	}
	.drag-area span[b-irx83ifq8n] {
		font-weight: 500;
		margin-bottom: 1.4rem;
	}
	.drag-area.active[b-irx83ifq8n] {
		background-color: #f9b73071;
		/*color: black;*/
		/*border: 2px dashed #618a69;*/
	}
.subirArchivo__footer[b-irx83ifq8n] {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	width: 322px;
}
	.subirArchivo__footer button[b-irx83ifq8n] {
		align-self: end;
		border: none;
		background-color: var(--yinsa-primary);
		color: var(--yinsa-dark);
		font-weight: 500;
		padding: 5px 10px;
	}
.subirArchivo__container-file[b-irx83ifq8n] {
	display: flex;
	flex-direction:row;
/*	flex-direction: column;*/
	align-items: start;
	overflow-x: auto;
}

	.subirArchivo__container-file .file[b-irx83ifq8n] {
		padding: 2px 6px;
		white-space: nowrap;
	}
		.subirArchivo__container-file .file .file-img img[b-irx83ifq8n] {
			height: 60px; /*20px cuando incluye nombre*/
			width: auto;
		}
		.subirArchivo__container-file .file span[b-irx83ifq8n] {
			font-size: 0.7rem;
		}

		.subirArchivo__container-file .file .file-img .delete-file[b-irx83ifq8n] {
			cursor: pointer;
			/*position: absolute;
			z-index: 9010;*/
		}
			.subirArchivo__container-file .file .file-img .delete-file svg[b-irx83ifq8n] {
				/*position: relative;
				top: -1px;
				left: -8px;*/
				font-weight: 500;
			}

		.subirArchivo__container-file .file .status-text[b-irx83ifq8n] {
			padding: 0 10px;
		}

		.subirArchivo__container-file .file .success[b-irx83ifq8n] {
			color: #52ad5a;
		}

		.subirArchivo__container-file .file .failure[b-irx83ifq8n] {
			color: #ff0000;
		}

/* DISPOSITIVOS MOVILES SM*/

@media screen and (max-width:768px) {
	.subirArchivo__container[b-irx83ifq8n] {
		height: fit-content;
		width: 90%;
	}
	.drag-area p[b-irx83ifq8n] {
		text-align:center;
	}
		.subirArchivo__footer[b-irx83ifq8n] {
		width: 100%;
	}
}